/* styles.css */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* Header */
header {
    background-color: #8E4585; /* dark purple */
    color: white;
    text-align: center;
    padding: 1rem 0;
}
.logo {
 display: block;
 position: absolute;
 left: 5%;
 max-width: 8%;
 height: auto;
 border-radius: 25%;
}
header h1 {
    margin: 0;
}

/* Navigation */
nav {
    text-align: center;
    background-color: #000000; /* black */
    padding: 0.5rem;
}

nav a {
    color: #FF0080; /* light magenta */
    text-decoration: none;
    padding: 0.5rem 1rem;
}

    nav a:hover {
    background-color: #9B59B6; /* medium purple */
}

/* Main Content */
main {
    padding: 2rem;
}

/* Footer */
footer {
    background-color: #000000; /* black */
    color: white;
    text-align: center;
    padding: 1rem 0;
    margin-top: 1.5rem;
}

/* Media Queries */
    @media (max-width: 600px) {
nav a {
    padding: 0.5rem;
}
}
